h1 {
    color: crimson;
}

p {
    color: rgb(0, 0, 0);
}

h3 {
    color: crimson;
}

h4 {
    color: crimson;
}

h5 {

    color: crimson;
}

h6 {
    color: crimson;
}

#Somewhere {
    background-color: none;
    border: 2px red solid;
}

p {
    margin: 10;
    font-size: 20;
    margin-left: 20px;
}

.log-in {
    margin-left: ;
}

.header {
    text-align: center;
}

h1 {
    font: size 20px; px;
}
h6{
    color: red;
    font-size: 30px;
    text-align: center;
}
p{
    text-align: center;
}
P{
    margin: 10px;

}
#para{
    font-style: italic;
    font-size: medium;
}
.card-body{
    display: flex;
    gap: 30px;
    justify-items: right;
    background-color: rgb(247, 239, 230);
}
.card_p{
    flex: 90%;
}
.img{
    display: flex;
    justify-content: right;
}
.last{
    background-color: rgb(247, 239, 230);
}
.section1{
    background-color: black;
    text-align: center;
}